<%- include ('header') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
 
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profile_pic').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
    <div class="container">
        <p class="red"> 
            <% if(typeof message != 'undefined') { %>
                <%= message %>
            <% } %> 
        </p>
       
        <form action="/profile/edit/<%= user["username"] %>" method='POST'>           
                <div>
                    Profile Photo:
                    <br>
                    <div class="center">
                        
                        <img id="profile_pic" class="circle" 
                        src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg" 
                        alt="profile picture"
                        width="200px">
                        <input id="imgUpload" name="" class="right" type="file" accept="image/png, image/jpeg" onchange="readURL(this);"/>​
                    </div>
                    
                    <br>           
                    <br>
                </div>

                <div>
                    User Name:
                    <input id="UserName" name="uname" type="text" placeholder="<%= user["username"] %>">
                </div>

                <div>
                    First Name:
                    <input id="firstName" name="fname" type="text" placeholder="<%= user["firstName"] %>">           
                </div>

                <div>
                    Last Name:
                    <input id="lastName" name="lname" type="text" placeholder="<%= user["lastName"] %>">        
                </div>

                <div>
                    Email:
                    <input id="email" name="email" type="text" placeholder="<%= user["email"] %>">        
                </div>

                <div>
                    Password:
                    <input id="newPassword" name="newPassword" type="text" placeholder="">
                </div>

                <div>
                    Confirm Password:
                    <input id="newPassword2" name="newPassword2" type="text" placeholder="">
                </div>

                <div class="center">
                    <button type="submit" class="btn">Update</button>
                </div>    
        </form>
    </div>

<%- include ('footer') %>