<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (typeof title != "undefined" ? title : "") %></title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f8ba3ce874.js" crossorigin="anonymous"></script>
</head>
<body>



    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
  
        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <h2> <a class="logo" href="/home">Quik Ride</a> </h2>
        </form>
  
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
  
          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
  
          <!-- Nav Item - Alerts -->
          <% if(typeof messagesList != "undefined") {%> 
            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <% if(unread !== 0) {%>
                  <span class="badge badge-danger badge-counter" id="badge"><%=unread%></span>
                <% } else { %>
                  <span class="badge badge-danger badge-counter" id="badge"></span>
                <% } %>

                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown"  id="message-dropdown">
                <h6 class="dropdown-header">
                    Message Center
                </h6>
                <div id = "messages">
                    <% for (var i = 0 ; i < messagesList.length && i < 4 ; i++) { %>
                    <a class="dropdown-item d-flex align-items-center" href="/chat/<%=messagesList[i].id%>">
                        <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg" alt="">
                        <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                          <div class="text-truncate">
                            <%= messagesList[i].last_message%>
                            <% if(!messagesList[i].message_read && messagesList[i].last_sender !== user.username) { %>
                              <span class="badge badge-pill badge-danger">New</span>
                            <% } %>
                          </div>
                          <div class="small text-gray-500"><%= messagesList[i].users[0]%> · <%=moment(messagesList[i].last_updated).format('MMMM Do YYYY, h:mm:ss a');%></div>
                        </div>
                      </a>
                    <% } %>
                    <div id = "additionalMessages">
                    <% for (var i = 4 ; i < messagesList.length ; i++) { %>
                        <a class="dropdown-item d-flex align-items-center" href="/chat/<%=messagesList[i].id%>">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">
                              <%= messagesList[i].last_message%>
                              <% if(!messagesList[i].message_read && messagesList[i].last_sender !== user.username) { %>
                                <span class="badge badge-pill badge-danger">New</span>
                              <% } %>
                            </div>
                            <div class="small text-gray-500"><%= messagesList[i].users[0]%> · <%=moment(messagesList[i].last_updated).format('MMMM Do YYYY, h:mm:ss a');%></div>
                        </div>
                        </a>
                    <% } %>
                    </div>
                    <a class="dropdown-item text-center small text-gray-500" id="readMore">Read More Messages</a>
                </div>
                </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
         <% } %> 
  
  
          <!-- Nav Item - User Information -->
          <% if(typeof user != "undefined") {%> 
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="/post/create">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Create New Post</span></span>
              </a>
            </li> 
            <% if(!user.isDriver) {%>
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="/driver/registration">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Register as a Driver</span></span>
                </a>
              </li>
            <% } else { %>
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="/driver/registration">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Driver's Profile</span></span>
                </a>
              </li>
            <% } %>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hi, <span id="username"><%= user.username %></span></span>
                <img class="img-profile rounded-circle" src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/profile/<%= user.username %>">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
                </div>
            </li>
        <% } else {%> 
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="/login">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Sign In</span></span>
                </a>
            </li>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="/register">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Sign Up</span></span>
                </a>
            </li>
        <% } %>
  
        </ul>
  
      </nav>
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
              <div class="modal-footer">
                  <form action="/logout?_method=DELETE" method="POST">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <button class="btn btn-primary" type="submit">Log Out</button>
                  </form>
              </div>
            </div>
          </div>
        </div>