<%- include ('partials/header') %>
<body class="<%=id%>">
    <link rel="stylesheet" href="/css/chat.css">
    <div class="chat">
        <div class="chat__sidebar">
            <br>
            <span id="userId"><%=userId%></span>
        </div>
        <div class="chat__main">
            <div id="messages" class="chat__messages">
                <% for (var i = 0 ; i < messages.length ; i++) {%>
                    <div class="message">
                        <p>
                            <span class="message__name"><%= messages[i].sender%></span>
                            <span class="message__meta"><%= messages[i].created%></span>
                        </p>
                        <p><%= messages[i].message%></p>
                    </div>
                <% } %>
            </div>
            <div class="compose">
                <form id="formData">
                    <input type="text" id="message" placeholder="Type message Here">
                    <button id="sendMessage">Send</button>
                </form>
                <button id="sendLoc">Send Location</button>
            </div>
        </div>
    </div>
    
    <script id="message-template" type="text/html">
        <div class="message">
            <p>
                <span class="message__name">{{user}}</span>
                <span class="message__meta">{{time}}</span>
            </p>
            <p>{{message}}</p>
        </div>
    </script>
    <script id="location-template" type="text/html">
        <div class="message">
            <p>
                <span class="message__name">{{user}}</span>
                <span class="message__meta">{{time}}</span>
            </p>
            <p><a href="{{url}}" target="_blank">My Current Location</a></p>
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client-chat.js"></script>
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/vendor/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>