<%- include ('partials/header') %>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 90vh;
        }
        #posts {
            height: 90vh;
            overflow: scroll;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
    </style>
    <div class="row">
        <div class="col-sm-12 mt-3 mb-3">
            <form class="form-inline" action="/" method="GET">
                <label class="mr-2 ml-2"><strong>Search For Ride</strong></label>
                <input class="form-control mb-2 mr-sm-2" placeholder="From" type="text" id="pickUp">
                <input class="form-control mb-2 mr-sm-2" placeholder="To" type="text" id="dropOff">
                <!-- <input class="form-control mb-2 mr-sm-2" placeholder="Time (Optional)" type="datetime-local" name="time"> -->
                <input type="hidden" name="pickupLocationLat" id="pickUpLocationLat">
                <input type="hidden" name="pickupLocationLng" id="pickUpLocationLng">
                <input type="hidden" name="dropoffLocationLat" id="dropOffLocationLat">
                <input type="hidden" name="dropoffLocationLng" id="dropOffLocationLng">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div id="posts">
                <% for(var i=0; i<posts.length; i++) {%>
                    <div class="card posts-cards" onclick="updateMarkers(<%= posts[i].pickUpPoint.coordinates[1] %>,<%= posts[i].pickUpPoint.coordinates[0] %>, 
                    <%= posts[i].dropOffPoint.coordinates[1] %>,<%= posts[i].dropOffPoint.coordinates[0] %>)">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <img class="rounded-circle postpic" src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg" alt="">
                                    <br>
                                    <br>
                                    Posted By: <%=posts[i].username%>
                                </div>
                                <div class="col-1">
                                    <div class="vertical-line"></div>
                                </div>
                                <div class="col-5">
                                    Leaving: <%= posts[i].date %>
                                    <br>
                                    <br>
                                    <p class="card-text">
                                        Pick Up Location: <%= posts[i].pickUp %>
                                        <br>
                                        Drop Off Location: <%= posts[i].dropOff %>
                                    </p>
                                    <br>
                                    <a href="/chat/<%= posts[i].userId %>"  class="btn btn-primary">Chat</a>
                                    <a href="/postride/<%= posts[i].id %>"  class="btn btn-primary">Request Ride</a>
                                </div>
                                <div class="col-1">
                                    <div class="vertical-line"></div>
                                </div>
                                <div class="col-2">
                                    <br>
                                    <span><h2 class="price"><%= posts[i].perKm %></h2>$/seat</span>
                                    <br>
                                    <br>
                                    <h2 class="price"><%= posts[i].seats %></h2> Seats Left
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="map"></div>
        </div>
    </div>
    <script src="/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCESc_JeBGh3Hw1N-b-vhn0xJ83_QzVhno&libraries=places&callback=initMap"
    async defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="/js/io.js"></script>
<%- include ('partials/footer') %>