<%- include ('partials/header') %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <br>
    <h2 style="margin:auto; text-align: center;">My Pick Up Requests (<span id="total"><%= requests.length %></span>):</h2>
    <br>
    <div class="container">
      <% if(requests.length === 0) { %>
        <br>
          <center><h4> There are no PickupRequests for you at the moment </h4></center>
        <br>
      <% } else { %>
          <%for (var i=0 ; i<requests.length; i++){%>
              <div class="card" i>
                  <div class="card-header">
                    <%= requests[i].rider%>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><strong>Pick Up: </strong><%= requests[i].pickup%></h5>
                    <h5 class="card-title"><strong>Drop off: </strong><%= requests[i].dropoff%></h5>
                    <p class="card-text"><strong>Message: </strong><%= requests[i].message %></p>
                    <form id="form" method="post" class="<%= requests[i]._id %>">
                      <% if(isDriver) {%>
                        <button type="button" name="<%=requests[i].groupId%>" id="accept<%=i%>" formaction="/accept/<%= requests[i]._id %>" class="btn btn-success">Accept</button>
                        <button type="button" name="<%=requests[i].groupId%>" id="reject<%=i%>" formaction="/reject/<%= requests[i]._id %>" class="btn btn-danger">Reject</button>
                      <%}else {%>
                        <button type="button" name="cancel" formaction="/cancel/<%= requests[i]._id %>" class="btn btn-danger">Cancel</button>
                      <%}%>
                    </form>
                  </div>
                </div>
                <br>
          <%}%>
        <% } %>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="/js/io2.js"></script>
<%- include ('partials/footer') %>