<%- include ('partials/header') %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <div class="container">
      <div>
        <br>
          <h2 style="margin:auto; text-align: center;">My Logs:</h2>
          <h4 style="margin-left:10px; margin-top: 25px; text-align: center;">Active:</h4>
      </div>
      <% if (activeRequests.length == 0)  {%>
        <br>
        <h4 style="margin-left:10px; margin-top: 25px; text-align: center;">Currently, There are no active rides.</h4>
        <br>
      <% } else { %>
        <div>
            <%for(var i=0; i<activeRequests.length; i++){%>
                <div class="card">
                    <div class="card-header">
                      <%= activeRequests[i].rider%>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"><strong>Pick Up: </strong><%= activeRequests[i].pickup%></h5>
                      <h5 class="card-title"><strong>Drop off: </strong><%= activeRequests[i].dropoff%></h5>
                      <p class="card-text"><strong>Message: </strong><%= activeRequests[i].message%></p>
                      <% if(rated) {%>
                        <p> Rated : <%= rating %></p>
                        <% } if(!rated && !isDriver) {%>
                        <div class="dropdown show" style="margin-left: 10px;" disabled>
                          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Rate Driver:
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/rate/<%= activeRequests[0]._id %>/1">1</a>
                            <a class="dropdown-item" href="/rate/<%= activeRequests[0]._id %>/2">2</a>
                            <a type="button" class="dropdown-item" href="/rate/<%= activeRequests[0]._id %>/3">3</a>
                            <a type="button" class="dropdown-item" href="/rate/<%= activeRequests[0]._id %>/4">4</a>
                            <a type="button" class="dropdown-item" href="/rate/<%= activeRequests[0]._id %>/5">5</a>
                          </div>
                        </div>
                      <%}%>
                      <%if (isDriver) {%>
                      <form  method="post">
                          <%if(activeRequests[i].status==="accepted"){%>
                            <button type="submit" formaction="/start/<%= activeRequests[i]._id %>" class="btn btn-success">Start</button>
                          <%} if(activeRequests[i].status==="started") {%>
                        <button type="submit" formaction="/end/<%= activeRequests[i]._id %>" class="btn btn-warning">End</button>
                        <%}%>
                      </form>
                      <%}%>
                    </div>
                  </div>
                  <br>
            <%}%>
        </div>
      <% } %>                  
      <hr>
      <div>
          <h4 style="margin-left:10px; margin-top: 25px; text-align: center; clear: left;">History:</h4>
          <div class="dropdown show" style="margin-left: 10px;">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter Logs:
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/userLogs">All</a>
                <a class="dropdown-item" href="/userLogs/rejected">Rejected</a>
                <a type="button" class="dropdown-item" href="/userLogs/ended">Completed</a>
                <a type="button" class="dropdown-item" href="/userLogs/accepted">Accepted</a>
                <a type="button" class="dropdown-item" href="/userLogs/canceled">Canceled</a>
              </div>
            </div>
            <br>
            <% if (historical.length == 0)  {%>
              <br>
              <h4 style="margin-left:10px; margin-top: 25px; text-align: center;">There is nothing to show in your history.</h4>
              <br>
            <% } else { %>
              <div>
                <%for(var i=0; i<historical.length; i++){%>
                    <div class="card">
                        <div class="card-header">
                          <%= historical[i].rider%>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><strong>Pick Up: </strong><%= historical[i].pickup%></h5>
                          <h5 class="card-title"><strong>Drop off: </strong><%= historical[i].dropoff%></h5>
                          <p class="card-text"><strong>Message: </strong><%= historical[i].message%></p>
                          <%if(isDriver){%>
                            <form  method="post">
                              <%if(historical[i].status==="accepted" && activeRequests.length === 0){%>
                                <button type="submit" formaction="/start/<%= historical[i]._id %>" class="btn btn-success">Start</button>
                              <%}%>
                            </form>
                          <%} else {%>
                            <form  method="post">
                              <%if(historical[i].status==="accepted"){%>
                                <button type="submit" formaction="/canceled/<%= historical[i]._id %>" class="btn btn-danger">Cancel</button>
                              <%}%>
                            </form>
                          <%}%>
                        </div>
                      </div>
                      <br>
                <%}%>
            </div>
          <% } %>
      </div>
    </div>
<%- include ('partials/footer') %>